<br><br>
<div class="container">
    <div class="row justify-content-center">
      <!-- Columna izquierda -->
      <div class="col-md-6">
        <div class="d-flex justify-content-center">
            <div class="fotos-about">
                <img src="../../../assets/imagenes/Opel-Astra.png" alt="Coche 1">
                <img src="../../../assets/imagenes/Coche-del-Ano-de-la-Mujer-2.jpg" alt="Coche 2">
            </div>
        </div>
      </div>
  
      <!-- Columna derecha -->
      <div class="col-md-6">
        <div class="text-center">
            <br>
          <h3>Second-Car</h3><br>
          <p>Second-Car es un nuevo concesionario de segunda mano donde serán reacondicionados y preparados para una segunda vida en su buen uso.
            Disponiendo de un abanico de opciones para que usted pueda tener el coche que desee sin ningún tipo de problemas.</p>
            <br><br><br>
          <div class="embed-responsive embed-responsive-16by9" >
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12248.295592812833!2d-74.0066438317687!3d40.6892491440848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25903ce155677%3A0xbcf672bdde15b1d9!2sStatue%20of%20Liberty!5e0!3m2!1sen!2sus!4v1630504063142!5m2!1sen!2sus"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  