*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(23, 15, 17);

}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  margin-bottom: 0px;


}


.left h1 {
  margin: 0;
  margin-left: 50px;
  cursor: pointer;
  color: white;
}
hr {
  border: none;
  height: 5px;
  background-color: #000;
  color: #000;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  text-decoration: none;
  display: inline;
  margin-right: 50px;
  transition: all 1s;
}
nav ul li:hover{
  background-color: rgb(129, 132, 121);
  padding: 5px;
  border-radius: 5px;
  transition: all 1s;
  color: white;
}
nav ul li a {
  cursor: pointer;
  text-decoration: none;
  color: white
}footer *{
  color: white;
  
}
footer{
  position: relative;
  width: 100%;
  bottom: 0px;
  margin-top: 0px;
  background-color: #000;
}

.active-link {
  transition: all 1s;
  color: yellow;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}
.container {
  max-width: 800px;
  margin-bottom: 0; /* Ajusta el ancho máximo según tus necesidades */
}

.col-md-6 {
  text-align: center; /* Centramos el contenido horizontalmente */
}

.col-md-6:first-child {
  margin-bottom: 20px; /* Ajustamos el espacio entre las columnas */
}

.col-md-6:last-child {
  margin-top: 23px; /* Ajustamos el espacio entre las columnas */
}
.tlf{
  height: 40px;

}
.num{
  line-height: 35px;
  margin-bottom: 1px;
}

