<header>
  <div class="left">
    <h1 [routerLink]="['']"><a>Second-Car</a></h1>
  </div>
  <nav class="right">
    <ul>
      <li [routerLink]="['']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><a>Home</a></li>
      <li [routerLink]="['/about']" routerLinkActive="active-link"><a>Sobre Nosotros</a></li>
      <li [routerLink]="['/coches']" routerLinkActive="active-link"><a>Coches</a></li>
      <li [routerLink]="['/contacto']" routerLinkActive="active-link"><a>Contacto</a></li>
      <li routerLinkActive="active-link" *ngIf="isLoggedIn()"><a (click)="logout()">Logout</a></li>
      <li [routerLink]="['/login']" routerLinkActive="active-link" *ngIf="!isLoggedIn()"><a>Login</a></li>
      <li [routerLink]="['/signup']" routerLinkActive="active-link" *ngIf="!isLoggedIn()"><a>Register</a></li>
    </ul>
  </nav>

</header>
<hr>

<router-outlet id="prueba"></router-outlet>

<script src="https://www.paypal.com/sdk/js?client-id=Ac1qKyx4gPVwlK9Ofxupgf2x0-kjfddrjuqDZq5FPAOHMT7R2H5s9qtaPrr6uJRmyFV3389NDxhaxbDT&currency=EUR"></script>

<footer class="mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col1">
        <div class="d-flex flex-column align-items-center">
          <br>
          <h5>Menú</h5>
          <ul class="list-unstyled">
            <div class="container">
              <div class="row">
                <div class="col-md-6 ">
                <br>
                  <li><a href="/">Home</a></li><br>
                  <li><a href="/about">About</a></li><br>
                  <li><a href="/coches">Coches</a></li>
                </div>
                <div class="col-md-6">
                  <li><a href="/contacto">Contacto</a></li><br>
                  <li *ngIf="isLoggedIn()"><a href="/"(click)="logout()">Logout</a><br></li>
                  <li *ngIf="!isLoggedIn()"><a href="/login">Login</a></li><br>
                  <li *ngIf="!isLoggedIn()"><a href="/signup">Register</a></li>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-column align-items-center">
          <h5>Números de Teléfono</h5>
          <div class="d-flex align-items-center"> <!-- Nuevo div con clase d-flex y align-items-center -->
            <img class="tlf" src="../assets/imagenes/—Pngtree—three-dimensional white phone icon free_6020287.png">
            <p class="num">922-233-233</p>
          </div><br>
          <div class="d-flex align-items-center"> <!-- Nuevo div con clase d-flex y align-items-center -->
            <img class="tlf" src="../assets/imagenes/—Pngtree—three-dimensional white phone icon free_6020287.png">
            <p class="num">688-234-356</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


