@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
 
  .boton{
      @apply bg-white p-2 rounded-xl font-bold shadow-sm shadow-white transition-all duration-500 hover:bg-base hover:text-white
  }
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 1000px; /* Cambia el valor según la altura máxima del menú */
    opacity: 1;
  }
}

nav {
  animation: slideDown 0.5s ease-in-out;
}

@keyframes slideUp {
  from {
    max-height: 1000px; /* Ajusta el valor según la altura máxima del menú */
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

nav.cerrar {
  animation: slideUp 0.5s ease-in-out;
}
*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(23, 15, 17);
 

}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  margin-bottom: 0px;


}


.left h1 {
  margin: 0;
  margin-left: 50px;
  cursor: pointer;
  color: white;
}
hr {
  border: none;
  height: 5px;
  background-color: #000;
  color: #000;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  text-decoration: none;
  display: inline;
  margin-right: 50px;
  transition: all 1s;
}
nav ul li:hover{
  background-color: rgb(129, 132, 121);
 
  border-radius: 5px;
  transition: all 1s;
  color: white;
}
nav ul li a {
  cursor: pointer;
  text-decoration: none;
  color: white
}footer *{
  color: white;

}
footer{
  position: relative;
  width: 100%;
  bottom: 0px;
  margin-top: 0px;
  background-color: #000;
}

.active-link {
  transition: all 1s;
  color: yellow;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}
.container {
  position: relative;
  width: 100%;
  margin-bottom: 0; /* Ajusta el ancho máximo según tus necesidades */
}

.col-md-6 {
  text-align: center; /* Centramos el contenido horizontalmente */
}

.col-md-6:first-child {
  margin-bottom: 20px; /* Ajustamos el espacio entre las columnas */
}

.col-md-6:last-child {
  margin-top: 23px; /* Ajustamos el espacio entre las columnas */
}
.tlf{
  height: 40px;
}
.num{
  line-height: 35px;
  margin-bottom: 1px;
}
.list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 10px; /* Espacio entre los elementos */
}
.listanums{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;

}
.numitems{
  display: flex;
  justify-content: center; /* Alinea horizontalmente */
  align-items: center; /* Alinea verticalmente */
  text-align: center;
}

.list-item {
  list-style: none;
  padding: 10px;
}


