<div class="general align-items-center justify-content-center">
  <br><br><br>
  <h1 class="compra">Gracias por tu compra!</h1><br><br>
  <p class="tcompra">El personal se pondrá en contacto con usted para que pase por el concesionario a recoger su nuevo coche.</p><br><br>
  <div class="preguntas align-items-center justify-content-center">
    <br><br>
    <h5>No dudes en contactar con nosotros llamando al</h5>
    <h4 id="numero">922 233 233</h4>
    <p>L-V: de 8:30 a 17:00<br>
      S-D: de 10:00 a 14:00</p>
    <h5>O contactar con nosotros a través de</h5>
    <br><button class="boton" [routerLink]="['/contacto']">Contacto</button>
  </div>
</div>

