
  <div class="general">
    <div class="banner">
      <div class="img-banner">
        <img  src="../../../assets/imagenes/32c363e910893559d658acf64584fe2c00f58fa9.jpg">
        <div class="superposicion"></div>
      </div>
      <div  class="text-center bannertexto justify-content-center align-items-center">
        <h3>Second-Car</h3><br>
        <p id="textolargo">Un Concesionario de segunda mano donde podrás adquirir una gran cantidad de coches de segunda mano <br>con gran cantidad de kilometraje,especificaciones y condiciones que se ajusten a tus necesidades.</p>
        <br><button class="boton" [routerLink]="['/coches']">Catálogo</button>
      </div>
    </div><br>
    <div class="partners">
      <h2 style="text-align: center;">Nuestras marcas colaboradoras</h2>
      <br>
      <br><br>
      <div class="cajon d-flex justify-content-center align-items-center">
        <div class="fotos-colaborador"><img src="../../../assets/imagenes/logos/580b57fcd9996e24bc43c46e.png" alt="BMW"></div>
        <div class="fotos-colaborador"><img src="../../../assets/imagenes/logos/580b57fcd9996e24bc43c49e.png" alt=""></div>
        <div class="fotos-colaborador"><img src="../../../assets/imagenes/logos/580b57fcd9996e24bc43c4a5.png" alt=""></div>
        <div class="fotos-colaborador"><img src="../../../assets/imagenes/logos/580b585b2edbce24c47b2c18.png" alt=""></div>
        <div class="fotos-colaborador"><img id="fotoford" src="../../../assets/imagenes/logos/580b585b2edbce24c47b2c67.png" alt=""></div>
        <div class="fotos-colaborador"><img  src="../../../assets/imagenes/logos/580b585b2edbce24c47b2cac.png" alt=""></div>
        <div class="fotos-colaborador"><img src="../../../assets/imagenes/logos/Dacia-logo.png" alt=""></div>
        <div class="fotos-colaborador"><img src="../../../assets/imagenes/logos/e51a19da654bcb869f5aded9b9ab6e98.png" alt=""></div>
      </div>
    </div>

    <div class="preguntas justify-content-center align-items-center">
      <br><br>
        <h5>No dudes en contactar con nosotros llamando al</h5>
        <h4 id="numero">922 233 233</h4>
        <p>L-V: de 8:30 a 17:00<br>
          S-D: de 10:00 a 14:00</p>
        <h5>O contactar con nosotros a través de</h5>
        <br><button class="boton" [routerLink]="['/contacto']">Contacto</button>
    </div>
    <div class="fotos-home d-flex justify-content-center align-items-center">
      <img class="foto1-home" src="../../../assets/imagenes/concesionario2.jpg">
    </div>


    <br>
  </div>




