
  <!--Implementación-->
  <div class="bg-base">
    <!--ajustar imagen para el background
    <div class="relative w-full  bg-imagen-home bg-cover bg-center">
     <p>Prueba</p>
    </div>
    -->
    <div class="relative w-full h-screen p-0 m-0">
      <!-- Pseudo-elemento para el fondo -->
      <div class="absolute inset-0 z-0">
        <img src="../../../assets/imagenes/32c363e910893559d658acf64584fe2c00f58fa9.jpg" alt="Background Image" class="w-full h-full object-cover">
        <!-- Overlay negro con opacidad -->
        <div class="absolute inset-0 bg-black opacity-50"></div>
      </div>
      <!-- Contenido del div -->
      <div class="relative z-10 flex flex-col items-center justify-center h-full p-4 text-white text-center">
        <h3 class="font-bold text-2xl text-white opacity-100">Second-Car</h3>
        <p class="font-bold text-white mt-4" id="textolargo">
          Un Concesionario de segunda mano donde podrás adquirir una gran cantidad de coches de segunda mano <br>
          con gran cantidad de kilometraje, especificaciones y condiciones que se ajusten a tus necesidades.
        </p>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" [routerLink]="['/coches']">Catálogo</button>
      </div>
    </div>
    
    
    <br><br>
    <p class="text-center font-bold text-xl">Nuestras marcas colaboradoras</p>
  <div class="grid gap-5 mx-5 grid-cols-4 p-4 lg:grid-cols-8 justify-center items-center bg-img rounded-2xl">
    <div class="centrarimg"><img class="bmw" src="../../../assets/imagenes/logos/580b57fcd9996e24bc43c46e.png" alt="BMW"></div>
    <div class="centrarimg"><img class="fotoscob" src="../../../assets/imagenes/logos/580b57fcd9996e24bc43c49e.png" alt=""></div>
    <div class="centrarimg"><img class="ww" src="../../../assets/imagenes/logos/580b57fcd9996e24bc43c4a5.png" alt=""></div>
    <div class="centrarimg"><img class="fotoscob" src="../../../assets/imagenes/logos/580b585b2edbce24c47b2c18.png" alt=""></div>
    <div class="centrarimg"><img class="fotoscob" src="../../../assets/imagenes/logos/580b585b2edbce24c47b2c67.png" alt=""></div>
    <div class="centrarimg"><img class="porsche" src="../../../assets/imagenes/logos/580b585b2edbce24c47b2cac.png" alt=""></div>
    <div class="centrarimg"><img class="fotoscob" src="../../../assets/imagenes/logos/Dacia-logo.png" alt=""></div>
    <div class="centrarimg"><img class="fotoscob" src="../../../assets/imagenes/logos/e51a19da654bcb869f5aded9b9ab6e98.png" alt=""></div>
  </div>
  <br>
  <div class="text-center pt-5 pb-2">
    <h5 class="font-bold">No dudes en contactar con nosotros llamando al</h5><br>
    <h4 id="numero" class="text-3xl">922 233 233</h4><br>
    <p class="font-bold">L-V: de 8:30 a 17:00<br>
      S-D: de 10:00 a 14:00</p><br>
    <h5 class="font-semibold">O contactar con nosotros a través de</h5>
    <br><button class="boton" [routerLink]="['/contacto']">Contacto</button>
  </div>
  <br>
  <img class="foto1-home" src="../../../assets/imagenes/concesionario2.jpg">
  </div>




