
.general{
  background-color: #D1CAC5;
  margin:0px;
}

.row2{
  margin: 2%;
}

.img img {
  position: relative;
  height: 300px;
  border-radius: 10px;
}
.cuadroPrecios{
  /*BUSCAR FOTO PARA UN BACKGROUND IMG DEL CUADRO*/
 /* background-image: url('../../../assets/imagenes/Pngtreeshadowdecorativeborderblackoverlay7597173.png');
  background-size: 100% 100%;*/
  
  border-radius: 10px;
}
.precio{
  font-size: large;
  font-weight: 400;

}
.valor{
  font-size: larger;
  font-weight: bold;
  background-color: white;
  height: 20px;
  border-radius: 10px;
}
.preguntas{

    text-align: center;
}
#numero{
    text-align: center;
      font-weight: bold;
      color: #86654B;
}
.boton {
  background-color: #B4A599;
  width: 130px;
  height: 30px;
  color: black;
  font-weight: bold;
  border-radius: 2em;
  transition: all 1s;
  border: none;
}

.boton:hover {
  transform: scale(1.2);
}
.pago{
  padding-top: 5%;
  text-align: center;
  border-radius: 10px;
}
.al{
  margin-top: 5%;
  text-align: center;
}
.specs{
  padding-top: 2%;
  background-color: white;
  width: 85%;
  position: relative;
  left: 7.5%;
  border-radius: 20px;
}
.precios{
 
  padding: 2%;
  background-color: #D1CAC5;
  border-radius: 20px;
}

