<div class="bg-base m-0 p-0">
  <br>
    <div class="grid-cols-2 md:grid mx-5 mt-5 bg-white rounded-2xl ">
      <div class="sm:mt-0 sm:mr-0 sm:pt-0 lg:pl-5 mt-5 pt-0 mb-4  flex justify-center items-center mx-auto">
        <img [src]="urlImg + cuadroImagen" alt="Coche" class="imgcoche">
      </div>
  
      <div class="sm:mt-0 sm:mr-0 sm:pt-0 lg:pt-10 lg:my-5 mt-5 mr-5 pt-5 my-4 text-center ">
        <div class="px-7" *ngIf="isLoggedIn()">
          <h3 class="font-bold">Método Pago</h3><br>
          <ngx-paypal  #payPalElem1 [config]="payPalConfig"></ngx-paypal>
        </div>
        <div *ngIf="!isLoggedIn()">
          <h3 class="font-bold italic">Para realizar la compra de este vehículo,<br> inicie sesión primero</h3><br>
          <button class="boton" [routerLink]="['/login']">Inicio Sesión</button>
        </div>
      </div>
  
      <div class="sm:mt-0 sm:mr-0 sm:pt-0 mt-5 mr-5 pt-5 my-4 text-center">
        <h3 class="text-center font-bold">{{cuadroModelo}}</h3><br>
        <div class="grid-cols-3 md:grid">
          <p><strong>Año de salida:</strong><br><br><span id="numero">{{ cuadroA_Salida }}</span></p>
          <p><strong>Tipo de combustible:</strong><br><br><span id="numero">{{ cuadroTipo_Combustible }}</span></p>
          <p><strong>Kilometraje:</strong><br><br><span id="numero"> {{ cuadroKilometraje }} KM</span></p>
        </div>
      </div>
  
      <div class="sm:mt-0 sm:mr-0 sm:pt-0 mt-5 mr-5 pt-5 my-4 text-center">
        <h4 class="font-bold">Precios</h4><br>
        <div class="bg-base w-50/100 flex justify-center items-center mx-auto p-3 mb-2 rounded-2xl">
          <p><span class="precio">Compra desde: </span> <span class="valor">&nbsp;{{cuadroPrecio}}€&nbsp;</span></p>
        <p><span class="precio">Alquiler desde:</span>&nbsp;&nbsp; <span class="valor">&nbsp;{{cuadroPrecioAlquiler}}€&nbsp;</span></p>
        </div>
      </div>
  
      <div class="text-center pt-5 pb-2">
        <h5 class="font-bold">No dudes en contactar con nosotros llamando al</h5><br>
        <h4 id="numero" class="text-3xl">922 233 233</h4><br>
        <p class="font-bold">L-V: de 8:30 a 17:00<br>
          S-D: de 10:00 a 14:00</p><br>
        <h5 class="font-semibold">O contactar con nosotros a través de</h5>
        <br><button class="boton" [routerLink]="['/contacto']">Contacto</button>
      </div>
      <div class="sm:mt-0 sm:mr-0 sm:pt-0 mt-5 mr-5 pt-0  text-center flex justify-center items-center mx-auto">
        <div class="embed-responsive embed-responsive-16by9" >
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12248.295592812833!2d-74.0066438317687!3d40.6892491440848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25903ce155677%3A0xbcf672bdde15b1d9!2sStatue%20of%20Liberty!5e0!3m2!1sen!2sus!4v1630504063142!5m2!1sen!2sus"></iframe>
        </div>
      </div>
    </div>
    <br>
  </div>
  